<div class="modal fade" id="sportModal" tabindex="-1" aria-labelledby="sportModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sportModalLabel">
                    {{ sport.id ? 'Edit Sport Id: ' ~ sport.id : 'Create Sport' }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            {{ form_start(form, {
                'action': sport.id ? path('sport_edit', {'id': sport.id}) : path('sport_new')
            }) }}
            <div class="modal-body">
                {{ form_row(form.name) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
